body {
    background-color: #3cb188; /* Ganti dengan warna yang diinginkan */
}

.jumbotron {
    background-color: #007bff;
    color: rgb(26, 188, 156);
}

footer {
    background-color: #343a40;
    color: white;
}
body {

    background-color:  #1abc9c; /* Ganti dengan warna yang diinginkan */
}

body {
    background-color:  #1abc9c; /* Mengubah latar belakang menjadi abu-abu terang */
}
.header {
    background-color: #007bff; /* Mengubah latar belakang elemen dengan kelas 'header' menjadi biru */
}
